{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ product.title }} | {% endblock %}

{% block content %}
    {% if product.image %}
        <figure class="image is-4by3 mb-6">
            <img src="{{ product.image.url }}">
        </figure>
    {% endif %}

    <h1 class="title">{{ product.title }}, ${{ product.price }}</h1>

    <p class="mb-6"><span class="tag is-dark">{{ product.vendor.name }}</span></p>

    <p>{{ product.description }}</p>

    <hr>

    {% if messages %}
        {% for message in messages %}
            <div class="notification is-success is-toast">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post" action=".">
        {% csrf_token %}

        <div class="field has-addons">
            <div class="control">
                <input type="number" name="quantity" value="1" class="input" min="1">
            </div>

            <div class="control">
                <button class="button is-dark" name="add_to_cart">Add to cart</button>
            </div>
        </div>
    </form>

  
   
    
    {% if similar_products %}
        <hr>

        <div class="columns is-multiline">
            <div class="column is-12">
                <h2 class="subtitle">Similar products</h2>
            </div>

            {% for product in similar_products %}
                {% include 'product/parts/list_item.html' %}
            {% endfor %}
        </div>
    {% endif %}


    <br>
    <br>
    <br>

    {% if request.user.is_authenticated %}
    {% if request.user.customUser.role == "CUS" %}
        <form method="post" action="." >
            {% csrf_token %}

            {{ review_form.as_ul }}

            <div class="field">
                <div class="control">
                    <button class="btn btn-secondary bt-lg mt-5" name="write_review">Submit Review</a>
                </div>
            </div>
        </form>
    {%endif%}
    {%endif%}

    <br>
    <br>
    <br>


    <h1 class="display-5"> Reviews </h1>
    <br>
    <br>

    {% if review_list %}
        
        {% for review in review_list %}
            <h3 class="display-6">Stars: {{review.stars}}    User: {{review.user}} </h3>
            <h3 class="display-6">{{review.content}}</h3>
            <div class="border-bottom"></div>
            <br>
        {% endfor %}
 
    {% endif %}

{% endblock %}